
<h2>Manage Student</h2>
<div class="addRow">
    <form action="/updateStudent" method="post">
        <div class="row">
            <input type="hidden" name="studentId" value="{{student._id}}" >
        </div>
        <div class="row">
            <span>Name</span>
            <input type="text" name="name" value="{{student.name}}" />
        </div>
        <div class="row">
            <span>Father Name</span>
            <input type="text" name="fatherName" value="{{student.fatherName}}" />
        </div>
        <div class="row">
            <span>Mother Name</span>
            <input type="text" name="motherName" value="{{student.matherName}}"/>
        </div>
        <div class="row">
            <span>Sex</span>
            <select name="sex" id="">
                {{#if male}}
                     <option selected value="male">Male</option>
                     <option  value="female">Female</option>
                {{/if}}
                {{#if female}}
                     <option selected value="female">Female</option>
                     <option value="male">Male</option>
                {{/if}}
            </select>
        </div>
        <div class="row">
            <span>Phone</span>
            <input type="text" name="phone" value="{{student.phone}}" />
        </div>
        <div class="row">
            <span>Email</span>
            <input type="email" name="email" value="{{student.email}}" />
        </div>
        <div class="row">
            <span>Password</span>
            <input type="password" name="password" value="{{student.password}}"/>
        </div>
        <div class="row">
            <span>Std</span>
            <input type="text" name="std"  value="{{student.std}}"/>
        </div>
        <div class="row">
            <span>Address</span>
            <input type="text" name="address" value="{{student.address}}" />
        </div>
        <div class="row">
            <span>State</span>
            <input type="text" name="state" value="{{student.state}}"/>
        </div>
        <div class="row">
            <span>City</span>
            <input type="text" name="city" value="{{student.city}}" />
        </div>
        <div class="row">
            <span>Total Fee</span>
            <input type="number" name="totalFee" value="{{student.totalFees}}" />
        </div>
        <div class="row">
            <span>Paid Fee</span>
            <input type="number" name="paidFee" value="{{student.paidFees}}" />
        </div>
        <div class="row">
            <span>Branches</span>
            <select name="branchId" id="">
                {{#each branches}}
                  <option value="{{this._id}}">{{this.state}}</option>
                {{/each}}
            </select>
        </div>
        <input type="submit" value="Edit Student" class="">
    </form>
</div>
